/* profile.css */

/* Style untuk container utama */
.profile-container {
    margin-top: 90px;
}

/* Style untuk gambar profil */
.profile-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

/* Style untuk informasi profil */
.profile-bio p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

/* Style untuk form fields */
.form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ddd;
}

.form-control:focus {
    box-shadow: none;
    border-color: #007bff;
}

/* Style untuk tombol submit */
.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Style untuk pesan sukses */
.alert-success {
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
}
